body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight:900;
    line-height: 1.8em;
    color: #666;
}
.first-image, .second-image, .third-image{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.first-image{
    background-image: url("Images/Image1.jpg");
    min-height: 700px;
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.ptext .border{
    background-color: #111;
    color: #fff;
    padding: 20px;
    font-size: 27px;
}

.article{
    text-align: center;
    padding: 50px 80px;
}
.article-light{
    background-color: #f4f4f4;
    color: #666;
}
h2{
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p{
    margin-block-start: 1em;
    margin-inline-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.second-image{
    background-image: url("Images/Image2.jpg");
    min-height: 400px;
}

.ptext .border .trans{
    background-color: transparent;
}
.ptext .border{
    background-color: #111;
    color: #fff;
    padding: 20px;
}
#image-two-text{
    background: none;
}
#article-dark1{
    background-color: #282e34;
    color: #ddd;
    
}
.third-image{
    background-image: url("Images/Image3.jpg");
    min-height: 400px;
}
#image-three-text{
    background: none;
}
#article-dark2{
    background-color: #282e34;
    color: #ddd;
    
}

@media(max-width:760px){
    .ptext .border{
        font-size: 20px;
    }
}


@media only screen and (max-width: 568px){
    .first-image, .second-image, .third-image{
        background-attachment:scroll; 
    }
} 

